
  <table class="table table-hover">
      
     <thead>
         <tr>
             <th>카테고리</th>
             <th>제목</th>
             <th>날짜</th>
         </tr>
     </thead>
      <tbody>
          <% @post.each do |post| %>
          <tr>
           <% if post.ask_category_cd == nil %><td>카테고리</td><% end %>
           <% if post.ask_category_cd == 1%><td>내용정정</td><% end %>
           <% if post.ask_category_cd == 2%><td>오류</td><% end %>
           <% if post.ask_category_cd == 3%><td>기타</td><% end %>
            <td><a href="/home/ask_show/<%= post.id %>">
            <%= post.title %>
            </a></td> 
            <td><%= post.created_at.strftime("%Y-%m-%d") %></td>
          </tr>
          
      </tbody>
      <% end %>
  </table>
  
  </div>