<div class="row" style="padding-top:100px;">
    <div class="col s12 text center"><p>
        <a href="/home/random_result" class="waves-effect waves-light btn-large" id="button1"><font size"20">랜덤 선택</font></a><br>
        <a href="/home/search" class="waves-effect waves-light btn-large" id="button2">검색하기</a>
    </p></div>
</div>
   



<style>

    #button1, #button2 {
         width: 150px;
         height: 60px;
         font-size: 110%;
         text-align: center;  
         line-height: 60px;
         margin: 30px;
        
    }
</style>


